<form class="mt-5" [formGroup]="formLogin" (ngSubmit)="submitLogin()">
  <h1 class="h3 mb-3 fw-normal text-center">Please Login</h1>

  <ng-container *ngIf="error != ''">
    <p class="text-danger text-center">{{error}}</p>
  </ng-container>

  <div class="form-floating">
      <input formControlName="email" type="email" class="form-control"  placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
  <div class="form-floating">
    <input formControlName="password" type="password" class="form-control"  placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>


  <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
  <p class="mt-5 mb-3 text-muted text-center">© 2022</p>
</form>